/***********************
        UNIVERSAL
***********************/

* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

p {
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
}

/***********************
     NAVIGATION BAR
***********************/

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #070d12;
}

#navbar ul {
    list-style-type: none;
    text-align: center;
}

#navbar li {
    display: inline-block;
    padding: 1.5rem 2rem;
}

#navbar a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
}

/***********************
    WELCOME SECTION
***********************/

header {
    height: 100vh;
    background-image: 
    linear-gradient(to bottom, 
    rgba(17, 38, 56, 0.3),
    rgba(17, 38, 56, 0.3), 
    rgba(17, 38, 56, 0.6),
    rgb(17, 38, 56, 1)), 
    url('/Img/pexels-neo-2653362.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

#welcome-section {
    text-align: center;
    position: relative;
    top: 31vw;
    height: 100vh;
}

/***********************
    PROJECTS SECTION
***********************/
#projects {
    background-color: rgba(17, 38, 56);
    text-align: center;
}

#projects > h1 {
    text-align: center;
    padding: 50px 0;
}

.project-tile a {
    text-decoration: none;
}

#projects ul {
    list-style-type: none;

    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 1rem;
}

.project-tile img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-height: 100%;
}

.overlay {
    background-color: rgba(17, 37, 55, 0.8);
    position: relative;
    width: 100%;
    height: 100%;
    top: -304px;
    display: table;
    opacity: 0;
    transition: 0.5s;
}

.overlay:hover {
    opacity: 1;
}

.overlay h4 {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
}

.button {
    background-color: rgba(255, 165, 0);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 50px auto;
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
}

/***********************
    PROFILE SECTION
***********************/

#profile-section {
    background-image: 
    linear-gradient(rgba(17, 38, 56, 1), 
    rgba(17, 38, 56, 0.8),
    rgba(17, 38, 56, 0.5));
    text-align: center;
    padding: 50px 0;
}

#profile-section p {
    padding-bottom: 50px;
}

#contact-links {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#contact-links a {
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
    flex: 1;
    white-space: nowrap;
}
    
.profile-img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
}

@media (max-width: 500px){
    #contact-links{ 
        flex-direction: column;
    }
}